.loading {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 2em;

  span {
    width: 0.3em;
    height: 1em;
    background-color: var(--primary);
  }

  span:nth-of-type(1) {
    animation: grow 1s -0.45s ease-in-out infinite;
  }

  span:nth-of-type(2) {
    animation: grow 1s -0.3s ease-in-out infinite;
  }

  span:nth-of-type(3) {
    animation: grow 1s -0.15s ease-in-out infinite;
  }

  span:nth-of-type(4) {
    animation: grow 1s ease-in-out infinite;
  }
}

@keyframes grow {

  0%,
  100% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(2);
  }
}


.middle {
  position: absolute;
  right: 5px;
  top: 20px;
  display: flex;
  gap: 1px;


  span {
    width: 3px;
    height: 20px;
    background: transparent;
    display: inline-block;
    transform-origin: bottom center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    animation: playing .6s linear infinite;
  }

  span:nth-of-type(1) {
    animation-delay: .1s;
  }

  span:nth-of-type(3) {
    animation-delay: .2s;
  }

  span:nth-of-type(2) {
    animation-delay: .3s;
  }

  span:nth-of-type(4) {
    animation-delay: .4s;
  }

}

@keyframes playing {
  0% {
    transform: scaleY(0.2);
    background: var(--primary);
  }

  50% {
    transform: scaleY(1);
    background: var(--primary);
    opacity: 60%;
  }

  100% {
    transform: scaleY(0.1);
    background: var(--primary);
  }
}

.loadingCircle {
  position: absolute;
  right: 5px;
  top: 20px;
  width: 20px;
  height: 20px;
  border: 3px solid transparent;
  border-top-color: var(--primary);
  border-bottom-color: var(--primary);
  border-radius: 50%;
  animation: spin-stretch 2s ease infinite;
}

@keyframes spin-stretch {
  50% {
    transform: rotate(360deg) scale(0.4, 0.33);
    border-width: 6px;
  }

  100% {
    transform: rotate(720deg) scale(1, 1);
    border-width: 2px;
  }
}